.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1.2em 2em 1.2em;
}
.menu {
    margin-top: -1px;
    color: #ffffff;
    background-color: #EB6C27;
    position: absolute;
    left:0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1em;
    gap:0.5em;
}
.menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
}
.menu a:hover {
    font-weight: bolder;
}
.menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-right: calc(((46px + 28px) - 25px) / 2);
    transform: translateY(-100%);
    border: 12.5px solid white;
    border-bottom: #EB6C27;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-top: none;
}
.hamburger::after {
    content: url(../media/hamburger.svg);
}
.hamburger {
    text-decoration: none;
    color: #888888;
    flex-direction: column;
    align-items: center;
    display: none;
}

@media screen and (max-width: 760px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }
    body {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .prymary-btn {
        background-color: #EB6C27;
        color: #ffffff;
        padding: 12px 40px;
        margin: 90px auto;
        margin-top: 0px;
        margin-bottom: 0px;
        text-decoration: none;
        font-weight: bold;
    }
    .outline-btn {
        font-weight: bold;
        color: #EB6C27;
        padding: 12px 40px;
        border: 1px dashed #EB6C27;
        text-decoration: none;
        font-weight: bold;
    }
    .page-header {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navbar__logo > img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }
    .hamburger {
        display: flex;
    }
    .hamburger-menu--hidden {
        display: none;
    }
    .page-header > .text-block {
        color: #ffffff;
        background-image: url(../media/pageheader-1920w.jpg);
        background-size: cover;
        background-position: center;
        padding: 0;
    }
    .title {
        padding: 55px 21px;
        background-color: rgba(0, 0, 0, 0.582);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .navbar-btn {
        display: none;
    }
    .sluzby__header {
        margin: 20px;
    }
    span {
        color: #EB6C27;
    }
    .sluzby__sluzby {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .sluzby__sluzby--novostavby > img {
        border-radius: 0 0 30px 0;
    }
    .sluzby__sluzby--prumysl > img {
        border-radius: 0 0 0 30px;
    }
    .sluzby__sluzby--rekostrukce > img {
        border-radius: 0 0 30px 0;
    }
    .sluzby__sluzby--komunikace > img {
        border-radius: 0 0 0 30px;
    }
    .text-block {
        font-size: 14px;
    }
    .duvera {
        background-image: url(../media/background-CTAblock-1920w.jpg);
        background-size: 200%;
        background-position: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .duvera > .text-block {
        background-color: rgba(0, 0, 0, 0.582);
        font-size: 17px;
        font-weight: 700;
        color: #ffffff;
        padding: 23px 20px;
        margin: 0px;
    }
    .duvera-btn{
        margin: 0px;
    }
    .reference {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 46px 20px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .reference__header {
        font-size: 14px;
    }
    .referecne__galerie > .text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .konverze {
        width: 100%;
        background-color: #EB6C27;
        color: #ffffff;
    }
    .wrapper > .text-block {
        margin: 0px;
        margin-top: 60px;
        font-size: 15px;
        text-align: center;
    }
    .wrapper > .btn { 
        padding: 20px 50px;
        margin-bottom: 41px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #EB6C27;
    }
    .content {
        font-size: 14px;
        margin: 20px;
    }
    .content-list > li::marker {
        color: #EB6C27;

    }
    /*.content-list > .list--line::after {
        content: "";
        color: #EB6C27;
        border:  4px #EB6C27 solid;
        border-radius: 50%;
        position: absolute;
        left: 45px;
    }*/
    .content-item >li {
        margin: 20px;
        color: #888888;
    }
    .content-item li {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 22px;
        font-size: 20px;
    }
    .content-list img {
        width: 30px;
        height: 30px;
    }
    .adress a {
        text-decoration: none;
        color: #888888;
    }
    .formular {
        width: 320px;
        height: 872px;
        margin: 50px 20px 74px 20px;
    }
    .formular-header {

    }
    .formular-item {
        gap: 7px;
    }
    .kontakt-btn {
        margin: 0;
        padding: 12px 40px;
    }
    input, select {
        border-color: #EB6C27;
        margin: 0;
        padding: 0;
        width: 319px;
        height: 45px;
    }
    .poznamka {
        height: 280px;
    }
}


@media(min-width: 770px) {
    h1 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 120px;
    }
    h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
    } 
    h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
    }
    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    b {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
    }
    img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    span 
    { 
        color: #EB6C27;
    }
    .prymary-btn {
        background-color: #EB6C27;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        margin: 90px;
        text-decoration: none;
        font-weight: bold;
    }
    .outline-btn {
        font-weight: bold;
        color: #EB6C27;
        font-size: 20px;
        padding: 12px 40px;
        border: 1px dashed #EB6C27;
        text-decoration: none;
    }
    .page-header {
        height: 100%;
        max-height: 1080px;
        background-image: url(../media/pageheader-1920w.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    .navbar {
        margin: 43px 205px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
    }
    .hamburger-menu {
        display: none;
    }
    .menu::after {
        display: none;
    }
    .menu {
        position: relative;
        top: 0;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    .menu-lines {
        padding: 35px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-lines > a {
        font-size: 16px;
        text-decoration: none;
        color: #888888;
    }
    .menu-lines a:hover {
        background-color: #EB6C27;
        color: #ffffff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page-header .text-block {
        
        background-color: rgba(0, 0, 0, 0.582);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 60px;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        line-height: 41px;
    }
    .navbar-btn {
        margin: 90px;
        font-size: 20px;
    }
    .navbar-btn::after {
        content: url(../media/arrow_back_24px.svg);
        margin-left: 20px;
    }
    .sluzby {
        margin: 179px 205px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sluzby__header {
        text-align: center;
        margin: 0 310px;
    }
    .sluzby__sluzby {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .sluzby__sluzby--novostavby > img, .sluzby__sluzby--rekostrukce > img{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
        object-fit: cover;
        border-radius: 0 0 30px 0;
        max-height: 307px;

    }
    .sluzby__sluzby--prumysl > img, .sluzby__sluzby--komunikace > img{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
        object-fit: cover;
        border-radius: 0 0 0 30px;
        max-height: 307px;
    }
    .sluzby__sluzby--novostavby, .sluzby__sluzby--rekostrukce {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0;
        gap: 100px;
        max-height: 307px;
    }
    .sluzby__sluzby--prumysl, .sluzby__sluzby--komunikace {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0;
        gap: 110px;
        max-height: 307px;
    }
    .duvera {
        margin: 0;
        background-image: url(../media/background-CTAblock-1920w.jpg);
        background-position: center;
        background-size: cover;
    }
    .duvera > .text-block {
        margin: 0;
        padding: 128px 204px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.582);
        color: #ffffff;
        gap: 40px;
        font-size: 30px;
    }
    .duvera-btn {
        margin: 0;
        padding: 20px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 177px 206px;
    }
    .reference__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .reference__header > p {
        font-size: 16px;
    }
    .referecne__galerie {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
    }
    .referecne__galerie-galerie {        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 35px;
    }
    .item-h_16{
        grid-row: 5 / span 3;
    }
    .item-h_last {
        grid-column: -3;
    }
    .item-p_5 {
        grid-column: 2 ;
        grid-row: 2 / span 2;
    }
    .item-p_4 {
        grid-row: 3 ;
    }
    .reference-btn {
        font-size: 20px;
    }
    .konverze {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #EB6C27;
    }
    .konverze .wrapper {
        background-color: #EB6C27;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 45px;

    }
    .wrapper > .text-block {
        color: #ffffff;
        text-align: center;
    }
    .btn {
        background-color: #ffffff;
        text-decoration: none;
        color: #EB6C27;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 20px 50px;
    }
    .content {
        margin-left: 206px;
        margin-bottom: 133px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .content > h2 {
        width: 90%;
        text-align: center;
    }
    .content-list li {
        font-size: 20px;
    }
    .content-list > li::marker {
        color: #EB6C27;
        font-size: 40px;
    }
    .content-row {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 314px;
    }
    .content-item {
        color: #EB6C27;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    .content-item li {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 22px;
        font-size: 20px;
    }
    .content-list > a {
        font-size: 20px;
        color: #EB6C27;
        text-decoration: none;
    }
    .content-list img {
        width: 60px;
        height: 60px;
    }
    .mapa > img {
        display: flex;
        align-items: flex-end;
        justify-content: end;
        background-color:#eb6c28e6;
    }
    .formular {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: flex-start;
        gap: 35px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    form > * {
        border-color: #EB6C27;
        margin: 0;
        padding: 0;
        width: 595px;
        color: #EB6C27;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .poznamka {
        height: 219px;
    }
    .kontakt-btn {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        padding: 12px 40px;
        gap: 20px;
    }
}
